{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/phrasalverb.css' %}">
  <title>All Of English</title>
</head>
<body>
  <h1></h1>
  <table border="1">
    <tr>
      <th>Verb</th>
      <th>Preposition</th>
      <th>Grammar</th>
      <th>Meaning</th>
      <th>Example</th>
    </tr>
    
    {% for row in rows %}
    <tr>
      {% if row.show_verb %}
      <td rowspan="{{ row.rowspan }}">{{ row.verb }}</td>
      {% endif %}
      
      <td>{{ row.preposition }}</td>
      <td>{{ row.grammar }}</td>
      <td>{{ row.meaning }}</td>
      <td>{{ row.example }}</td>
    </tr>
    {% endfor %}
    
  </table>
</body>
</html>